/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color:azure;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #00723F;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

/* Estilos del formulario */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Evita que el padding afecte el ancho total */
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #EFB810;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Media Queries para dispositivos pequeños (móviles) */
@media (max-width: 600px) {
    .form-container {
        margin: 10px;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }
}

