body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
}

.pantalla {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #005b3c;
    padding: 20px;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.sidebar .logo {
    width: 100px;
    margin-bottom: 30px;
    align-items: center;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 15px 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.sidebar .icono-lateral {
    width: 30px;
    margin-right: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    gap: 10px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-text {
    text-align: left;
}

.circle-icon {
    background-color: #ffcc00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-lateral {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
}

.logo {
    width: 120px;
    align-items: center;
}

.contenido {
    flex: 1;
    padding: 30px;
    position: relative;
}

.titulo {
    text-align: center;
    color: #222;
    font-size: 28px;
    margin-bottom: 20px;
}

.barra-iconos {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.barra-iconos button {
    background-color: #fc0;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.barra-iconos img {
    width: 24px;
    height: 24px;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla th, .tabla td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tabla thead {
    background-color: #00552E;
    color: white;
}

.botones {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.publicar {
    background-color: #FFD700;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.crear {
    background-color: #00552E;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.ayuda {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ayuda img {
    width: 30px;
    margin-right: 5px;
}